@import './variable.less';
@import './block.less';


.container-root{
  &:extend(.fullfill);
  z-index:@rootIndex;
  &>article,&>header{ //直系部分
    display: block;
    position: absolute;
    /*头部start*/
    &.contaniner-header{  
      background-color:#373D41;
      z-index: @headerIndex;
      .rect(100%,@headerHeight);
      color:#fff;
      &>section{
        &.logo{
          line-height:@headerHeight;
          font-size: 20px;
          padding-left: 20px;
          &>img{
            .square(25px);
          } 
        }
      }
    }
     /*头部end*/
     /*左导航start*/
    &.leftBars{ 
      background-color: #42485B;
      z-index: @leftBarsIndex;
      .rect(@barsWidth,100%);
      color:#fff;
      padding-top: @headerHeight;
      font-size: 14px;
      box-sizing: border-box;
      &>div{
        padding: 10px;
        line-height: 20px;
        cursor: pointer;
        &>img{
          .square(15px);
          vertical-align: middle;
          margin-right: 20px;
        }
      }
    }
     /*左导航end*/
    &.container-body{
      box-sizing: border-box;
      z-index: @bodyIndex;
      .rect(100%,100%);
      padding:@headerHeight 0 0 @barsWidth;
    }
  }
}